@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

html, body {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --main-color: #3DCCC7;
    --lighter-main: #9CEAEF
}
