@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

:root {
    --main-color: #3DCCC7;
    --lighter-main: #9CEAEF
}

#app{
}
