/* LOGIN / REGISTER / HOME COMMON*/

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 13px 3px rgba(0, 0, 0, 0.25);
    min-width: min-content;
    width: 70%;
    height: 100%
}

.panel-container h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    white-space: nowrap;
}

.panel-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: min-content;
    padding: 1rem;
    font-size: 1em;
    width: 80%
}

.panel-container form label {
    padding: .3rem;
    margin: 0.1rem;
}

.panel-container form input {
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 3em;
    width: 100%
}

.panel-container form p {
    width: 100%;
    color: red;
    font-weight: 200;
    text-align: center;
    padding-top: .5rem;
    font-size: calc((0.2em + .5vmin) + (0.2em + .5vmax));
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
    margin: .5rem;
}

.action-button {
    min-width: 100%;
    white-space: nowrap;
    border-radius: 3em;
    background-color: var(--main-color);
    padding: 1em;
    border: 2px solid var(--main-color);
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}

.action-button:hover:enabled {
    background-color: var(--lighter-main);
    border: 2px solid var(--lighter-main);
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.action-button:active:enabled {
    background-color: var(--clicked-button);
    border: 2px solid var(--clicked-button);
}

.google-button {
    border-radius: 3em;
    padding: 1em;
    border: 2px solid var(--main-color);
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}

.google-button:hover {
    background-color: var(--google-button-hover);
    color: white;
    border: 2px solid var(--lighter-main);
}

.google-button:active {
    background-color: var(--google-button-active);
}

.signup-text {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
    font-weight: 200;
    text-align: center;
    padding: 1rem;
    color: #000;
    font-size: 1.2em;
}

.signup-link {
    color: var(--main-color);
    cursor: pointer;
}

.signup-link:hover {
    color: var(--lighter-main)
}

.buttons
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #7777;
    cursor: default;
}

@media (min-width: 1048px){
    .panel-container {
        border-radius: 3em;
        margin: 1em;
        min-width: min-content;
        width: 70%;
        height: 100%
    }

    .panel-container h1 {
        width: 100%;
        font-size: 2.5em;
    }

    .panel-container form {
        padding: 1rem;
        font-size: 1em;
        width: 80%
    }

    .panel-container form label {
        padding: .3rem;
        margin: 0.1rem;
    }

    .panel-container form input {
        padding: 1rem;
        margin: 0.1rem;
        border-radius: 3em;
    }

    .panel-container form p {
        padding-top: .5rem;
        font-size: 1.2em;
    }

    .buttons {
        gap: .2em;
        margin: .5rem;
    }

    .action-button {
        min-width: 100%;
        border-radius: 3em;
        padding: 1em;
        font-size: 1.3em;
        font-weight: 600;

    }

    .google-button {
        border-radius: 3em;
        padding: 1em;
        font-size: 1.3em;
    }

    .signup-text {
        gap: 5%;
        width: 80%;
        font-weight: 200;
        padding: 1rem;
        font-size: 1.2em;
    }


}